<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>

    <body>
        <div id="div_header">
            <h1 id="header">{{title}}</h1>
        </div>
        
        <form>
            <table>
                <tr>
                    <td colspan="4">
                        <input type="text" class="display" [(ngModel)]="op1" name="op1">
                    
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <input type="text" class="display" [(ngModel)]="op2" name="op2">
                    
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <input type="text" class="display" disabled value="{{result}}">
                    
                    </td>
                </tr>

                <tr>
                    <td><input type="button" class="operator" value="+" (click)="suma()"></td>
                    <td><input type="button" class="operator" value="-" (click)="resta()"></td>
                    <td><input type="button" class="operator" value="x" (click)="multiplicacion()"></td>
                    <td><input type="button" class="operator" value="/" (click)="division()"></td>
                </tr>

                <tr>
                    <td><input type="button" class="operator" value="a^b" (click)="potencia()"></td>
                    <td><input type="button" class="operator" value="%" (click)="porcentaje()"></td>
                    <td><input type="button" class="operator" value="abs" (click)="abs()"></td>
                    <td><input type="button" id="clear" value="c" (click)="reset()"></td>
                     
                </tr>
              
            </table>
         </form>
    </body>
</html>